.content {
    width: 85%;
    background: white;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.content ul {
    list-style-type: none; /* Removes the dot marker */
    padding-left: 0; /* Removes default padding */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content ul li {
    content: "";
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-left: 25px; /* Space for custom bullet */
}

.content ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.content ul li a:hover {
    color: #007BFF;
}
.content div{
    margin-bottom: 50px

}
.content h1{
    color: teal;
    text-align: center ;
    }
.content div h2{
    color: teal;
}
